h1 {
    font-family:"Comic Sans MS";
    font-style:italic;
    color:lightsteelblue;
}

h3 {
    font-style:italic;
}

P {
    overflow:scroll;
    font-family:"Comic Sans MS";
}

body {
    background-color:#ff2052;
}

h2 {
    color:#75226c;
    font-family:"Comic Sans MS";
}

div {
    font-size: 150%;
}

.extreme {
    font-weight: bold;
}

.navzone {
    color:#008080;
}

#tehlulz {
    font-family: Helvetica;
    font-weight: bold;
}