a {
    font-family: Arial;
    color:#34f100
}

body {
    background-color:green;
}

p {
    text-align: right;
}


h1 {
    font-family: "Comic Sans MS";
    font-style: italic;
}

h2 {
    color: red;
    font-family: Helvetica;
}

div {
    font-size:125%;      
}

li {
    color: blue; 
}

.extreme {
    text-align: center;
    font-style: italic;
}

.prose {
    color: orange;
    font-size: 300%
}

#head1 {
    text-align: right;
    font-weight: bold;
}